@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;1,100&display=swap');
body {
    background-color: aliceblue;
    font-family: 'roboto', 'Segoe UI', Tahoma, Verdana, sans-serif;
    transform: uppercase;
}
h1{
    color: red;
    text-align: center;
    font-style: italic;
}
.navegador{
    padding: 0%;
    width: 500px;
    list-style: none;
    margin: 100px auto auto auto;
}
li a{
    padding: 30px;
    float: left;
    width: 100px;
    text-align: center;
    font-size: 15;
    color: #fff;
    text-decoration: none;
}
.fundo{
    position: fixed;
    z-index:-1;
    top:0;
    right:0;
    left:0;
    background-color: #bdbdbd;
    height: 100%;
}
.navegador li:first-child a{
    background: blue; 
}
.navegador li:nth-child(2) a{
background-color: blueviolet;
}
.navegador li:nth-child(3) a{
background-color: red;
}
.navegador li:nth-child(4) a{
background-color: greenyellow;
}
.navegador li:first-child:hover ~.fundo {
background-color: blue;
}
.navegador li:first-child(2):hover ~.fundo {
background-color: blueviolet;    
}
.navegador li:first-child(3):hover ~.fundo {
background-color: red;    
}
.navegador li:first-child(4):hover ~.fundo {
background-color: greenyellow;    
}