body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.coracao {
    background: red;
    position: relative;
    height: 100px;
    width: 100px;
    transform: rotate(0) scale(1);
    animation: pulsar 1s linear infinite;
    animation: rotate 10s linear infinite;
}

.coracao::after {
    background: red;
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 0;
    right: -50%;
    width: 100px;
    height: 100px;
}

.coracao::before {
    background: red;
    border-radius: 50%;
    content: '';
    position: absolute;
    top: -50%;
    left: 0;
    width: 100px;
    height: 100px;
}

@keyframes pulsar {
    0% {
        transform: rotate(0deg) scale(1);
    }

    10% {
        transform: rotate(-36deg) scale(1.1);
    }

    20% {
        transform: rotate(-72deg) scale(1.2);
    }

    30% {
        transform: rotate(-108deg) scale(1.3);
    }

    40% {
        transform: rotate(-144deg) scale(1.4);
    }

    50% {
        transform: rotate(-180deg) scale(1.5);
    }

    60% {
        transform: rotate(-216deg) scale(1.6);
    }

    70% {
        transform: rotate(-252deg) scale(1.7);
    }

    80% {
        transform: rotate(-288deg) scale(1.8);
    }

    90% {
        transform: rotate(-324deg) scale(1.9);
    }

    100% {
        transform: rotate(-360deg) scale(2.0);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(-36deg) scale(1);
    }

    10% {
        transform: rotate(-72deg) scale(1.1);
    }

    20% {
        transform: rotate(-108deg) scale(1.2);
    }

    30% {
        transform: rotate(-144deg) scale(1.3);
    }

    40% {
        transform: rotate(-180deg) scale(1.4);
    }

    50% {
        transform: rotate(-216deg) scale(1.5);
    }

    60% {
        transform: rotate(-252deg) scale(1.6);
    }

    70% {
        transform: rotate(-288deg) scale(1.7);
    }

    80% {
        transform: rotate(-324deg) scale(1.8);
    }

    90% {
        transform: rotate(-360deg) scale(1.9);
    }

    100% {
        transform: rotate(-360deg) scale(2.0);
    }

    100% {
        transform: rotate(0);
        scale: (2.1);
    }
}